.card-depoimentos {
    width: 100%;
    max-width: 324.667px;
    height: 12.9rem;
    background-color: rgba(241, 240, 245, 0.55);
    border-radius: 0.5rem;
    padding: 3.7rem 2rem 2.3rem 2rem;

    .user {
        @include flex(row, center, space-between);
        padding-bottom: 1.3125rem;

        strong {
            color: $grey-500;
            font-family: 'Poppins', sans-serif;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 112%;
            letter-spacing: -1px;
        }
    }

    P {
        width: 32.2rem;
        color: $grey-400;
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 150%;
        padding-right: 2rem;
    }
}