.s-hero {
    width: 100%;
    max-height: 61.640rem;
    background: url('../img/fundo-s-hero.svg') no-repeat center center;
    padding-top: 17rem;

    .container {
        @include flex (row, flex-start, space-between);
    }

    .text {
        width: 100%;
        max-width: 68.4rem;

        h3 {
            opacity: 0.8;
            color: #FFFFFF;
            padding-bottom: 3.2rem;
            font-weight: 600;
        }

        h1 {
            color: #FFF;
            margin-bottom: 3.9rem;
        }

        ul {
            width: 100%;
            max-height: 62.1rem;
            display: flex;
            align-items: center;
            margin-top: 6.4rem;
            padding-bottom: 12rem;

            li {
                display: flex;
                align-items: center;

                .icon {
                    width: 7.9rem;
                    height: 5.8rem;
                    background: linear-gradient(180deg, rgba(53, 203, 226, 0.4) 0%, rgba(53, 202, 226, 0.00) 100%);
                    border-radius: 50%;
                    @include flex(row, center, center);
                    margin-right: 12px;
                }

                span {
                    color: #FFF;
                    font-size: 1.8rem;
                }
            }

        }
    }

    .area-image {
        width: 100%;
        max-width: 70.6rem;
        margin-right: -96px;

        h2 {
            margin-bottom: 6.7rem;
            text-align: center;
            color: rgba(255, 255, 255, 1);
            opacity: 0.4;
            font-weight: 600;
        }

        .image {
            position: relative;
            top: 35px;
            width: 111%;
            height: 54.1rem;

            img {
                position: absolute;
            }

            .card-front {
                top: 4.9rem;
                left: 0;
                z-index: 2;
            }

            .card-back {
                bottom: -1.4rem;
                right: 8.6rem;
                z-index: 1;
            }

            .circle {
                top: 0.8rem;
                right: 4.3rem;
            }
        }
    }
}

.s-card-neon {
    padding-top: 12.9rem;

    .left-area {
        width: 100%;
        max-width: 27.7rem;

        .ilustra-mockup {
            position: relative;
            width: 100%;
            max-width: 27.7rem;
            margin-bottom: 13rem;

            .circle-mockup {
                position: absolute;
                top: 87px;
                left: -214px;
                max-width: 37.7rem;
                z-index: -1;
            }
        }
    }

    .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon {
            position: relative;
            &::before {
                content: "";
                width: 5px;
                height: 83px;
                background: url('../img/pontos-neon.svg') no-repeat center center;
                position: absolute;
                top: -104px;
                left: 50%;
                margin-left: -2.5px;
            }
        }
        .info-text {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                text-align: center;
                margin-top: 3.1rem;
                color: $grey-600;
            }

            p {
                text-align: center;
                font-size: 1.6rem;
                color: $grey-400;
                width: 27.0rem;
                height: 7.2rem;
                margin-bottom: 2.6rem;
            }
            ul {
                li {
                    &:not(:last-child) {
                        margin-bottom: 2.6rem;
                    }
                }
            }
        }
    }
}