h1 {
    font-size: 6.4rem;
    font-weight: 600;
    @include responsive(1050px) {
        font-size: 5.2rem;
    }
    @include responsive(991px) {
        font-size: 4.8rem;
    }
}

h2 {
    font-size: 4.0rem;
    font-weight: bold;
}

h3 {
    font-size: 2.4rem;
    line-height: 150%;
}

h4 {
    font-size: 2.0rem;
    line-height: 112%;
}

h1,
h2 {
    line-height: 112%;
    letter-spacing: -1px;
}

h3,
h4 {
    font-weight: 500;
    letter-spacing: -0.5px;
}

h1,
h2,
h3,
h4 {
    color: $grey-500;
    font-family: 'Poppins', sans-serif;
}